html
    *
        box-sizing: border-box

body
    margin: 0 20px
    padding: 0
    font-family: "Open Sans"

#map
    width: 100%
    margin: 0 auto

input, label
    display: block

label
    margin-right: 30px
    margin-bottom: 10px
    display: inline-block

    input
        display: inline
        margin-left: 10px

form
    margin-bottom: 20px